.aboutUsMain {
    background-color: #fbf4f1;
    border: 2px #ff6f27 solid;
    border-radius: 5px;
    justify-content: center;
    padding: 50px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 300px;
}

h1 {
    text-align: center;
}

.aboutUsMain img {
    margin-top: 20px;
}

