.mainFavs {
    border: black 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

/* item style */

.item {
    width: 270px;
    height: 400px;
    border: black 1px;
    background-color: aqua;
    margin: 15px;
    border: black 1px solid;
}

.item img {
    height: 250px;
    width: 250px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.item .store{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    width: 248px;
    height: 30px;
    background-color: lightgray;
    border: black 1px solid;
    display: flex;
    justify-content: center;
}

.item .store .tesco{
    width: max-content;
    height: 100%;
    background-color: rgb(68, 0, 255);
}
.item .store .lidl{
    width: fit-content;
    height: 100%;
    background-color: rgb(255, 204, 0);
}

.item .lower {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
}

.item .name {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.item .lower .price {
    font-size: 18px;
    margin-right: 100px;
    width: 125px;
}

.item .Buttons {
    width: 125px;
}

.item .itemButton {
    height: 30px;
    cursor: pointer;
}