.mainFavs {
    border: black 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 1000px;
}

/* header */

.favsHeader {
    width: 100%;
    height: 60px;
    background-color: lightgray;
    border: black 1px solid;
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
}

.favsTitle {
    margin-left: 40%;
}

    /* filter */
.headerFilter {
    background-color: hotpink;
    border-right: 1px black solid;
    height: 30px;
    font-size: .75em;
    height: 100%;
}

.headerFilter h1 {
    margin-top: 2-px;
}

.headerPrice {
    background-color: lightgreen;
    border-left: 1px black solid;
    margin-left: auto;
    height: 30px;
    font-size: 1.25em;
    height: 100%;
}

.headerPrice h1 {
    margin-top: 10px;
}

