.mainFavs {
    border: black 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

/* item style */

.item {
    width: 270px;
    height: 400px;
    border: black 1px;
    background-color: aqua;
    margin: 15px;
    border: black 1px solid;
}

.item img {
    height: 250px;
    width: 250px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.item .store{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    width: 248px;
    height: 30px;
    background-color: lightgray;
    border: black 1px solid;
    display: flex;
    justify-content: center;
}

.item .store .tesco{
    width: 45%;
    height: 100%;
    background-color: rgb(68, 0, 255);
}
.item .store .lidl{
    width: 45%;
    height: 100%;
    background-color: rgb(255, 204, 0);
}
.item .store .additional{
    width: 10%;
    height: 100%;
    background-color: rgb(128, 128, 128);
}

.item .store a p {
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    color: white;
}

.item .lower {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.item .name {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;;
}

.item .lower .price {
    width: 125px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.item .lower .price h1 {
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.item .lower .price p {
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
}


.item .Buttons {
    width: 125px;
    margin-top: 15px;
}

.item .itemButton {
    height: 30px;
    width: 50px;
    margin-left: 10px;
    cursor: pointer;
}