.Carasel{
    width: calc(100% - 5px);
    height: 150px;
    margin-left: 5px;
    background-color: #fbf4f1;
    border: #ff6f27 2px solid;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    justify-content: space-evenly;
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: hidden;
    position: relative;
}

.Carasel a{
    margin-top: 10px;
}
.Carasel img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: #ff6f27 2px solid;
}
.Carasel a{
    margin-right: 10px;
}
.Carasel a:first-of-type{
    margin-left: 10px;
}

.Items{
    display: flex;
    width: 100%;
    margin: 5px;
}

.Products{
    width: 100%;
    height: fit-content;
    background-color: #fbf4f1;
    border: #ff6f27 2px solid;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 5px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}



