.Carasel{
    width: calc(100% - 5px);
    height: 150px;
    margin-left: 5px;
    background-color: #fbf4f1;
    border: #ff6f27 2px solid;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.CaraselItems{
    justify-content: space-evenly;
    display: flex;
}
.CaraselItems a{
    margin-top: 10px;
}
.CaraselItems a img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: #ff6f27 2px solid;
}
.Items{
    display: flex;
    width: 100%;
    margin: 5px;
}

.Filters{
    width: 15%;
    height: 1000px;
    background-color: #fbf4f1;
    border: #ff6f27 2px solid;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.Products{
    width: 85%;
    height: 1000px;
    background-color: #fbf4f1;
    border: #ff6f27 2px solid;
    border-radius: 5px;
    margin-left: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}