.Carasel{
    width: 100%;
    height: 150px;
    background-color: #fbf4f1;
    border: #ff6f27 2px solid;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.Items{
    display: flex;
    width: 100%;
    margin: 5px;
}

.Filters{
    width: 15%;
    height: 1000px;
    background-color: #fbf4f1;
    border: #ff6f27 2px solid;
    border-radius: 5px;
    margin: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.Products{
    width: 85%;
    height: 1000px;
    background-color: #fbf4f1;
    border: #ff6f27 2px solid;
    border-radius: 5px;
    margin: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}