.Carasel{
    width: 100%;
    height: 150px;
    background-color: #f3f0ef;
    margin: 5px;
    outline-color: black;
    border: black 1px solid;
}
.Items{
    display: flex;
    width: 100%;
    margin: 5px;
}

.Filters{
    width: 15%;
    height: 1000px;
    background-color: #f3f0ef;
    margin: 5px; 
    outline-color: black;
    border: black 1px solid;
}

.Products{
    width: 85%;
    height: 1000px;
    background-color: #f3f0ef;
    margin: 5px;
    outline-color: black;
    border: black 1px solid;
}