.Carasel{
    width: 100%;
    height: 150px;
    background-color: aqua;
    margin: 5px;
}
.Items{
    display: flex;
    width: 100%;
    margin: 5px;
}

.Filters{
    width: 15%;
    height: 1000px;
    background-color: aqua;
    margin: 5px; 
}

.Products{
    width: 85%;
    height: 1000px;
    background-color: aqua;
    margin: 5px;
}