
/* item style */

.item {
    width: calc(20% - 17px);
    height: 32%;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #fbf4f1;
    border: hsl(20, 100%, 58%) 2px solid;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.item img {
    width: 90%;
    height: 200px;
    margin-left: 11px;
    margin-top: 5px;
}

.item .store{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    width: 90%;
    height:7px;
    border: #fbf4f1 2px solid;
    border-radius: 5px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

    /* what store is the item in */
.store .tesco{
    width: 50%;
    height: 100%;
    background-color: rgb(68, 0, 255);
}
.store .lidl{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 204, 0);
}
.store .additional{
    width: 10%;
    height: 100%;
    background-color: rgb(128, 128, 128);
}

.item .store a p {
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    color: white;
}

    /* lower section of the item display (name price buttons etc) */
.item .lower {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    align-content: center;
}

.item .name {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;;
}

.item .lower .price {
    text-align: center;
    width: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.item .lower .price h1 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.item .lower .price p {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.item .Buttons{
    margin-left: 15px;
}
.item .Buttons a img{
    justify-content: space-evenly;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
}

.TescoWrap{
    position: relative;
    display: flex;
    cursor: default;
}

.TescoWrap .TescoText{
    visibility: hidden;
    padding: 0.25em 0.5em;
    background-color: rgb(68, 0, 255);
    color: #fbf4f1;
    text-align: center;
    border-radius: 0.25em;
    white-space: nowrap;

    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.TescoWrap:hover .TescoText{
    visibility: visible;
}

.TescoWrap a{
    width: 82px;
    height: 5px;
}

.LidlWrap{
    position: relative;
    display: flex;
    cursor: default;
}

.LidlWrap .LidlText{
    visibility: hidden;
    padding: 0.25em 0.5em;
    background-color: rgb(255, 204, 0);
    color: #fbf4f1;
    text-align: center;
    border-radius: 0.25em;
    white-space: nowrap;

    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.LidlWrap:hover .LidlText{
    visibility: visible;
}

.LidlWrap a{
    width: 82px;
    height: 5px;
}
