
/* item style */
.Products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
}

.item {
    width: calc(25%-1);
    height: 32%;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #fbf4f1;
    border: #ff6f27 2px solid;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.item img {
    height: 50%;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.item .store{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    width: 90%;
    height:8%;
    background-color: lightgray;
    border: black 1px solid;
    display: flex;
    justify-content: center;
}

    /* what store is the item in */
.store .tesco{
    width: 45%;
    height: 100%;
    background-color: rgb(68, 0, 255);
}
.store .lidl{
    width: 45%;
    height: 100%;
    background-color: rgb(255, 204, 0);
}
.store .additional{
    width: 10%;
    height: 100%;
    background-color: rgb(128, 128, 128);
}

.item .store a p {
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    color: white;
}

    /* lower section of the item display (name price buttons etc) */
.item .lower {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    align-content: center;
}

.item .name {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;;
}

.item .lower .price {
    text-align: center;
    width: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.item .lower .price h1 {
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.item .lower .price p {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.item .Buttons a img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}





