/* header */

.listsHeader {
    width: 100%;
    height: 60px;
    background-color: #fbf4f1;
    border: black 1px solid;
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
}

.favsTitle {
    margin-left: auto;
    margin-right: auto;
}

    /* filter */
.headerFilter {
    background-color: #fbf4f1;
    border-right: 1px black solid;
    height: 30px;
    font-size: .75em;
    height: 100%;
}

.headerFilter h1 {
    margin-top: 2-px;
}

/*List header*/

.listHeader {
    width: 100%;
    height: 40px;
    Display: inline-flex;
    margin-bottom: 10px;
}

.headerPrice {
    margin-left: auto;
    font-size: 1.25em;
}

.pastHeaderPrice {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.25em;
}

.pastHeaderDate {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 1.5em;
}

.listHeader h1 {
    margin-top: 0px;
}

.listCount {
    padding-top: 10px;
    margin-left: auto;
    margin-right: 10px;
    font-size: 1.5em;
}

.HeaderButtons {
    display: flex;
    gap: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-left: auto;
}

/* main lists section */

.mainLists {
    background-color: #fbf4f1;
    border: black 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 40px;
    border: #ff6f27 2px solid;
    border-radius: 5px;
}

.list {
    background-color: #fbf4f1;
    border: black 1px solid;
    width: 45%;
}

.items {
    background-color: #fbf4f1;
    overflow-y: scroll;
    overflow-x: NONE;
    height: 450px;
    border: #ff6f27 2px solid;
    border-radius: 5px;
}

.tesco {
    background-color: blue;
    height:20px;
    color: white;
    text-align: center;
    margin-bottom: 5px;
}
.lidl {
    background-color: rgb(255, 230, 0);
    height:20px;
    color: #2b2b2b;
    text-align: center;
    margin-bottom: 5px;
}

.prices {
    background-color: #ff6f27;
    text-align: right;
    width: 100%;
    height: 16%;
    color: #fbf4f1;
}



/*Item Alt */

.itemAlt {
    width: 95%;
    height: 120px;
    border: black 1px;
    margin-top: 5px;
    margin-left: 3px;
    background-color: #fbf4f1;
    border-bottom: black 1px solid;
    display: flex;
    flex-wrap: wrap;
    border: #ff6f27 2px solid;
    border-radius: 5px;
}

.itemAlt img {
    height:100px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.itemAlt aside {   
    flex-wrap: wrap;
    width: calc(100% - 130px);
    display: flex;
}

.itemAlt .name {
    background-color: #fbf4f1;
    text-align: left;
    width: 60%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.itemAlt .price {
    background-color: #fbf4f1;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: auto;
}

.itemAlt .price h1 {
    background-color: #fbf4f1;
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.itemAlt .Buttons {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-left: auto;
}

.itemAlt .itemButton {
    height: 30px;
    width: fit-content;
    margin-left: 10px;
    cursor: pointer;
}
