.mainLists {
    border: black 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.list {
    border: black 1px solid;
    width: 30%;
}

.items {
    overflow-y: scroll;
    height: 400px;
}
/* header */

.listsHeader {
    width: 100%;
    height: 60px;
    background-color: lightgray;
    border: black 1px solid;
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
}

.favsTitle {
    margin-left: 40%;
}

    /* filter */
.headerFilter {
    background-color: hotpink;
    border-right: 1px black solid;
    height: 30px;
    font-size: .75em;
    height: 100%;
}

.headerFilter h1 {
    margin-top: 2-px;
}

.headerPrice {
    background-color: lightgreen;
    border-left: 1px black solid;
    margin-left: auto;
    height: 30px;
    font-size: 1.25em;
    height: 100%;
}

.headerPrice h1 {
    margin-top: 10px;
}



/*Item Alt */

.itemAlt {
    width: 100%;
    height: 120px;
    border: black 1px;
    background-color: aqua;
    border: black 1px solid;
    display: flex;
    flex-wrap: wrap;
}

.itemAlt img {
    height:100px;
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.itemAlt aside {   
    flex-wrap: wrap;
}

.itemAlt .name {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;;
}

.itemAlt .price {
    margin-top: 0px;
    margin-bottom: 0px;
}

.itemAlt .price h1 {
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.itemAlt .Buttons {
    width: 125px;
    margin-top: 15px;
}

.itemAlt .itemButton {
    height: 30px;
    width: 50px;
    margin-left: 10px;
    cursor: pointer;
}
