main {
    display: flex;
    justify-content: center;
}

.LoginMain {
    margin-top: 50px;
    width: 400px;
    height: 600px;
    background-color: rgb(184, 130, 235);
}

.TextFields {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 50%;
}

.TextField {
    padding-left: auto;
    padding-right: auto;
    width: 100%;
}

.LoginButton {
    margin-top: 30px;
    text-align: center;
}