main {
    display: flex;
    justify-content: center;
}

.LoginMain {
    margin-top: 50px;
    width: 600px;
    height: fit-content;
    background-color: #fbf4f1;
    border: 2px #ff6f27 solid;
    border-radius: 5px;;
    margin-top: 250px;
    margin-bottom: 300px;
}

.TextFields {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 85%;

}

.TextField {
    margin-top: 20px;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
    
}

.TextField input[type="text"] {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    border: 2px #ffb895 solid;
    font-size: 16px;;
}

label {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.Buttons {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;

}

a {
    width: 25%;
    height: 40px;
    border-radius: 5px;
    border: none;
}

button {
    width: 100%;
    height: 100%;
    background-color: #a2deff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

hr {
    width: 50%;
    margin-top: 20px;
}

.LogInOptions {
    margin-top: 20px;
    text-align: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}