:root{
    background-color: #fbf4f1;
    color: #2b2b2b;
}

.Website{
    margin-left: auto;
    margin-right: auto;
    width: 80%
}

.Header{
    display: flex;
    font-size: 60px;
    color: #2b2b2b;
    margin-bottom: 5px;
    background-color: #ff6f27;
    width: 100%;
    height: 100px;
}

.Header a{
    padding: 5px;
}

.Header .button{
    background-color: #fbf4f1;
    border: none;
    color: #2b2b2b;
    padding: 20px 15px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

.Header .button:hover {
    background-color: #575757;
    color: white;
}

.Header .button:active {
    background-color: #575757;
    color: white;
}

form{
    border-radius: 5px;
    background-color: #ff6f27;
    padding: 15px;
    width: 60%;
    margin: 3px;
    padding-top: 5px;
    
}
input[type=text], select {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #2b2b2b;
  font-size: 30px;
}


/* item style */

.item {
    width: 270px;
    height: 400px;
    border: black 1px;
    background-color: aqua;
    margin: 15px;
    border: black 1px solid;
}

.item img {
    height: 250px;
    width: 250px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.item .store{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    width: 248px;
    height: 30px;
    background-color: lightgray;
    border: black 1px solid;
    display: flex;
    justify-content: center;
}

    /* what store is the item in */
.store .tesco{
    width: 45%;
    height: 100%;
    background-color: rgb(68, 0, 255);
}
.store .lidl{
    width: 45%;
    height: 100%;
    background-color: rgb(255, 204, 0);
}
.store .additional{
    width: 10%;
    height: 100%;
    background-color: rgb(128, 128, 128);
}

.item .store a p {
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
    color: white;
}

    /* lower section of the item display (name price buttons etc) */
.item .lower {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
}

.item .name {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px;;
}

.item .lower .price {
    width: 125px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.item .lower .price h1 {
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
}

.item .lower .price p {
    font-size: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
}


.item .Buttons {
    width: 125px;
    margin-top: 15px;
}

.item .itemButton {
    height: 30px;
    width: 50px;
    margin-left: 10px;
    cursor: pointer;
}



