:root{
    background-color: #fbf4f1;
}

.Header{
    display: flex;
    font-size: 60px;
    color: #2b2b2b;
    margin: 0px;
    background-color: #ff6f27;
}

h1{
    margin: 0;
}

.Header a{
    padding: 5px;
}
.Header a button{
    background-color: #fbf4f1;
    border: none;
    color: #2b2b2b;
    padding: 35px 35px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    margin: 4px 2px;
}
.Profbtn{
    padding-right: 50px;
}