.productDisplay {
    background-color: #fbf4f1;
    border: 2px #ff6f22 solid;
    padding: 20px;
    height: 650px;
    border-radius: 5px;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-bottom: 50px;
    margin-top: 25px;
}

.basicInfo {
    height: 610px;
    width:68%;
}

.basicInfo h1 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: -2px;
    font-size: 45px;
    border-bottom: #ff6f22 2px solid;
}

.imageContainer {
    text-align: center;
    border: 2px #ff6f22 solid;
    border-radius: 5px;
    width: 100%;
    height: 595px;
}

.productImage {
    height: 595px;
    border-radius: 5px;
}

.productInfo {
    border: 2px #ff6f22 solid;
    width: 30%;
    margin-left: auto;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
    display: inline-block;
    align-content: center;
}

.productDisplay hr {
    width: 60%;
    border: 1px solid #ff6f22;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* product information sections */

.storeSpesifics {
    width:calc(100%-30px);
    height: 250px;
    background-color: rgb(83, 192, 255);
    border-radius: 5px;
    padding: 15px;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
*/}

.storeSpesifics p {
    text-align: Left;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    
}

/* information container */

.informationContainer {
    width: calc(100%-10px);
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fbf4f1;
    border-radius: 5px;
    padding:10px;
    display: flex;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dealsContainer {
    width: 45%;
    
}

.deal {
    background-color: #fbf4f1;
    border: 2px #ff6f22 solid;
    border-radius: 5px;
    width: 100%;
    height:50px;
    align-content: center;
    margin-top: 2%;
    text-align: center;
}

.deal h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.verticalLine {
    border: 1px solid #ff6f22;
    height: 180px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 5px;
}

.productInfoContainer {
    width:20%;
    margin-left: 10px;


}

.info {
    background-color: #fbf4f1;
    border: 2px #ff6f22 solid;
    border-radius: 5px;
    width: 100%;
    height:50px;
    align-content: center;
    margin-top: 4%;
    text-align: center;
    font-size: 10px;
}

.ingrediantInfo {
    background-color: #fbf4f1;
    border: 2px #ff6f22 solid;
    border-radius: 5px;
    width: 100%;
    height:50px;
    align-content: center;
    margin-top: 4%;
    text-align: center;
    overflow:hidden;
}

.ingrediantInfo:hover{
    z-index: 10;
    display:absolute;
    height:200px;
    width:200px;
    overflow: scroll;
    text-align: left;
}

.ingrediantInfo h2 {
    margin-left: 5px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100px;
    padding-right: 10px;
}

.buttonContainer button{
    background: none;
    border: none;
    height: 40px;
    width: 40px;
    border-left:20px;
}

/* colour changes for each store */

.tesco{
    background-color: #00539F;
    border-color: #ee1c2e;
    color: white;
}

.tescoIcons {
    color: #f15966;
}

.tescoIcons:hover {
    color: #ff6f27;
}


.lidl {
    background-color: #fff200;
    border-color: #015aa2;
}

.lidlIcons {
    color: #015aa2;
}

.lidlIcons:hover {
    color: #4777d1;
}
