.productDisplay {
    background-color: #fbf4f1;
    border: 2px #ff6f22 solid;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.imageContainer {
    text-align: center;
    border: 2px #ff6f22 solid;
    border-radius: 5px;
    width: 68%
}

.productImage {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.productInfo {
    border: 2px #ff6f22 solid;
    width: 30%;
    margin-left: auto;
    border-radius: 5px;
    padding: 10px;
    justify-content: center;
    display: inline-block;
    align-content: center;
}

.productDisplay hr {
    width: 60%;
    border: 1px solid #ff6f22;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* product information sections */

.storeSpesifics {
    width:calc(100%-30px);
    height: 250px;
    background-color: rgb(83, 192, 255);
    border-radius: 5px;
    padding: 15px
}

.storeSpesifics p {
    text-align: Left;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.storeSpesifics tesco{
    background-color: #fff200;
}

.storeSpesifics Lidl{
    background-color: #00539f;
}

/* information container */

.informationContainer {
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fbf4f1;
    border-radius: 5px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 1opx;
}

.dealsContainer {
    width: 30%;
}
