.Body{
    width: 100%;
    height: 800px;
    background-color: rgb(255, 255, 255);
    margin-left: 5px;
    margin-top: 15px;
    justify-content: center;
    padding-top: 15px;
    outline-color: black;
    border: black 1px solid;
}

.TopSectionProduct{
    width: 95%;
    height: 500px;
    background-color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.RightSideProductTop {
    width: fit-content;
    margin-left: auto;
    align-items: center;
    columns: 1;
}

.RightSideProductTop > *{
    width: 100%;
    margin-left: 80px;
    margin-right: 20px;
}

.ProductImg{
    width: 60%;
    height: 100%;
    justify-content: center;
    display: flex;
}

.Comparisons{
    width: 80%;
    height: 70%;
    background-color: blueviolet;
    font-size: 20px;
}

.ProductButtons{
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 15%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    
}

.ProductButtons a {
    width: fit-content;
    height: 100%;

}

.ListButton {
    width: 300px;
    height: 70px;
}

.FavButton {
    width: 150px;
    height: 70px;
}

.BottomSectionProduct{
    width: 95%;
    height: 200px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 0, 0);
}
.Links{
    width: 100%;
    height: 100px;
    background-color: rgb(7, 7, 128);
    margin-bottom: 20px;
}


