.Info{
    width: 100%;
    height: 300px;
    margin: 5px;
    margin-top: 20px;
    background-color: aqua;
    display: flex;
}

.ProfileIMG{
    width: 200px;
    height: 200px;
    margin-left: 120px;
    margin-top: 35px;
    border-radius: 50%;
}
.Line{
    width: 5px;
    height: 80%;
    background-color: blueviolet;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}
.InfoText{
    width: 40%;
    height: 100%;
    background-color: aqua;
    font-size: 35px;
    text-align: left;
}

.ChangeProfileButtons{
    width: 400px;
}
.ChangeProfileButtons button{
    width: 95%;
    height: 60px;
    background-color: rgb(89, 238, 44);
    display: block;
    justify-items: center;
    margin-top: 25px;
}

.Settings{
    margin-left: 5px;
    width: 100%;
    height: 500px;
    background-color: aqua;
    display: flex;
}

.SettingsSections{
    width: 22%;
    height: 100%;
    margin-left: 14px;
    background-color: aqua;
}

.SettingsSections button{
    width: 95%;
    height: 60px;
    background-color: rgb(89, 238, 44);
    display: block;
    justify-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 5px;
}

.LineSettings{
    width: 5px;
    height: 90%;
    background-color: blueviolet;
    margin-left: 17px;
    margin-right: 50px;
    margin-top: 30px;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    width: 100%;
    height: 100%;
    background-color: aqua;
}
