:root{
    background-image: linear-gradient(to bottom,#fbf4f1e1,#cceff8eb);
    color: #2b2b2b;
}

.Website{
    margin-left: auto;
    margin-right: auto;
    width: 80%
}

.Header{
    display: flex;
    font-size: 60px;
    color: #2b2b2b;
    background-color: #ff6f27;
    width: 100%;
    height: 100px;
}

.Header a{
    padding: 5px;
}

.Header .button{
    background-color: #fbf4f1;
    border: none;
    color: #2b2b2b;
    padding: 20px 15px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

.Header .button:hover {
    background-color: #575757;
    color: white;
}

.Header .button:active {
    background-color: #575757;
    color: white;
}

form{
    border-radius: 5px;
    background-color: #ff6f27;
    padding: 15px;
    width: 60%;
    margin: 3px;
    padding-top: 5px;
    
}
input[type=text], select {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #2b2b2b;
  font-size: 30px;
}

/*Footer CSS*/

footer{
    width: 100%;
    height: 300px;
    background-color: mediumpurple;
}