:root{
    background-image: linear-gradient(to bottom,#fbf4f1e1,#a4edffec);
    color: #2b2b2b;
    font-family: "Chivo Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.Website{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.Header{
    display: flex;
    font-size: 60px;
    color: #2b2b2b;
    background-color: #ff6f27;
    width: 100%;
    height: 70px;
    border-radius: 5px;
}

.Header a{
    padding: 5px;
    width: 5%;
}

.Header a  img{
    margin-top: 10px;
}

.Header a i {
    width: 100%;
    height: 100%;
}
.SignUpButton{
    background-color: #fbf4f1;
    align-self: center;
    display: flex;
}
.Header a button{
    color: #2b2b2b;
    padding: 10px 7px;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    border: #ff6f27 2px solid;
    border-radius: 5px;
}

.Header a button:hover {
    background-color: #575757;
    color: white;
}

.Header a button:active {
    background-color: #575757;
    color: white;
}

form{
    border-radius: 5px;
    background-color: #ff6f27;
    width: 60%;
    align-content: center;
    display: contents;
}
input[type=text], select {
  width: 100%;
  height: 75%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #2b2b2b;
  font-size: 30px;
}

/*Footer CSS*/
#FooterLine{
    background-color: #A2DEFF;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer{
    width: 100%;
    height: 500px;
    display: flex;
}

.FooterBox1{
    width: 27%;
    height: 100%;
    background-color: #A2DEFF;
    margin-right: 20px;
}

.FooterBoxMiddle{
    margin-right: 20px;
    width: 40%;
    height: 100%;;
}
#GradGooseLogoFooter{
    width: 100%;
    height: 46%;
    align-self: center;
    margin-top: 50px;
}

.FooterBox2{
    width: 100%;
    height: 45%;
    background-color: #A2DEFF;
}

.FooterBox3{
    width: 31%;
    height: 100%;
    background-color: #A2DEFF;
}